/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Don't delete this */
@import "tailwindcss";

:root {
  /* Font */
  --font-robot: 'mrRobot';

  /* Colors */
  --color-cyan: #00FFFF;
  --color-blood-red: #710F11;
  --color-dark-blood-red: #3b0000;
  --color-very-dark-blood-red: #0b0000;
  --color-yellow: #FCD610;
  --color-dark-blue: #000E41;
  --color-gray: #ffffffbf;
  --color-indigo: #0C37CF;
}


/* Don't delete this */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-indigo: var(--color-cyan);
  --color-cyan: var(--color-cyan);
  --color-dark-blue: var(--color-dark-blue);
  --color-gray: var(--color-gray);
  --color-indigo: var(--color-indigo);

  --color-yellow: var(--color-yellow);
  --color-dark-blood-red: var(--color-dark-blood-red);
  --color-blood-red: var(--color-blood-red);
  --color-very-dark-blood-red: var(--color-very-dark-blood-red);
}


/* write Your Code Here */

html {
  scroll-behavior: smooth;
}